{% extends "layout.html" %}

{% block pageTitle %}
	Land Registry Digital Portfolio | About
{% endblock %}

{% block content %}

<main id="content" role="main">
	
	<p style="margin-top:30px;"><a href="/">Back to all the things we're doing</a></p>
	
		<section class="column-first">
		

		<h2 class="heading-large">About the digital portfolio</h2>

		<p>The digital portfolio belongs to Land Registry.

		<h3 class="heading-medium">How to get something added to the portfolio</h3>
		<ol class="list list-number">
		<li>Contact the <a href="mailto:laura.criddle@digital.landregistry.gov.uk">design team</a></li>
		</ol>

	</div>

</main>

{% endblock %}
